<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="normalize.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

</head>
<body>

<header class="header container">
    <div class="logo-and-search">
        <div class="logo">
            <img src="./images/logo.svg" alt="">
        </div>
            <form action="" method="get">
                <input class="search" name="s" placeholder="Search..." type="text">
                <button class="go-button">GO</button>
            </form>
    </div>
    <nav class="header-nav ">
        <ul class="header-list">
            <li class="header-item-active header-item "><a class="header-item-link" href="">HOME</a></li>
            <li class="header-item "><a class="header-item-link" href="#">ABOUT US</a></li>
            <li class="header-item"><a class="header-item-link" href="#">SERVICE</a></li>
            <li class="header-item"><a class="header-item-link" href="#">PARTNERS</a></li>
            <li class="header-item"><a class="header-item-link" href="#">CUSTOMERS</a></li>
            <li class="header-item"><a class="header-item-link" href="#">CONTACT</a></li>

        </ul>
    </nav>
</header>
<section class="main">
    <div class="main-bg-image">
        <h1 class="h1-main">Aliquam pharetra <br> vulputate</h1>
        <p class="main-description">Vivamus est mauris, sollicitudin ut ipsum pharetra, porta rutrum turpis.
            Suspendisse sollicitudin quam eget
            condimentum posuere. In auctor vel mi porta commodo. Vestibulum mattis fringilla tempus. Etiam eu
            consectetur nisi. Aenean blandit sodales euismod. In hac habitasse platea dictumst. </p>
        <a href="#"> <div class=" div-read-more">READ MORE</div></a>

    </div>
</section>
<section class="articles container">
    <div class="article-block">
        <div class="top-line-article"><span class="top-line-text">ABOUT SUPER LOGO</span></div>
        <div class="article-image"><a href="#"><img src="./images/doggo.jpg" alt=""></a></div>
        <div class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam massa, dignissim at nisi nec, iaculis molestie leo. Aenean hendrerit pretium enim quis rutrum. Pellentesque mattis sem a efficitur auctor. Sed vulputate vitae dui non fermentum. Donec non sem dignissim, tincidunt arcu eget, posuere tellus. Quisque consectetur diam id faucibus sagittis. Praesent placerat, diam non sollicitudin suscipit, eros erat</div>
        <div class="read-more"><a href="#">Read more...</a></div>
    </div>
    <div class="article-block">
        <div class="top-line-article"><span class="top-line-text">ABOUT SUPER LOGO</span></div>
        <div class="article-image"><a href="#"><img src="./images/steve.jpg" alt=""></a></div>
        <div class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam massa, dignissim at nisi nec, iaculis molestie leo. Aenean hendrerit pretium enim quis rutrum. Pellentesque mattis sem a efficitur auctor. Sed vulputate vitae dui non fermentum. Donec non sem dignissim, tincidunt arcu eget, posuere tellus. Quisque consectetur diam id faucibus sagittis. Praesent placerat, diam non sollicitudin suscipit, eros erat</div>
        <div class="read-more">Steve Jobs, CEO</div>
    </div>
    <div class="article-block">
        <div class="top-line-article"><span class="top-line-text">ABOUT SUPER LOGO</span></div>
        <div class="article-image"><a href="#"><img src="./images/eyes.jpg" alt=""></a></div>
        <div class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam massa, dignissim at nisi nec, iaculis molestie leo. Aenean hendrerit pretium enim quis rutrum. Pellentesque mattis sem a efficitur auctor. Sed vulputate vitae dui non fermentum. Donec non sem dignissim, tincidunt arcu eget, posuere tellus. Quisque consectetur diam id faucibus sagittis. Praesent placerat, diam non sollicitudin suscipit, eros erat</div>
        <div class="read-more"><a href="#">Read more...</a></div>
    </div>
    <div class="article-block">
        <div class="top-line-article"><span class="top-line-text">ABOUT SUPER LOGO</span></div>
        <div class="article-image"><a href="#"><img src="./images/elsa.jpg" alt=""></a></div>
        <div class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam massa, dignissim at nisi nec, iaculis molestie leo. Aenean hendrerit pretium enim quis rutrum. Pellentesque mattis sem a efficitur auctor. Sed vulputate vitae dui non fermentum. Donec non sem dignissim, tincidunt arcu eget, posuere tellus. Quisque consectetur diam id faucibus sagittis. Praesent placerat, diam non sollicitudin suscipit, eros erat</div>
        <div class="read-more">Steve Jobs, CEO</div>
    </div>
</section>
<section class="articles-bottom container">
    <div class="article-bottom-block ">
        <div class="top-line-article"><span class="top-line-text">SERVICES</span></div>
        <div class="article-bottom-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam massa, dignissim at nisi nec, iaculis molestie leo. Aenean hendrerit pretium enim quis rutrum. Pellentesque mattis sem a efficitur auctor. Sed vulputate vitae dui non fermentum. Donec non sem dignissim, tincidunt arcu eget, posuere tellus. Quisque consectetur diam id faucibus sagittis. Praesent placerat, diam non sollicitudin suscipit, eros erat</div>
        <div class="read-more-bottom"><a href="#">Read more...</a></div>
    </div>
    <div class="article-bottom-block">

        <div class="top-line-article "><span class="top-line-text">RESENT POSTS</span></div>
       <div class="news-block">
            <div class="recent-post-mini ">
                <div class="mini-pic"><a href=""><img src="./images/download-8.jpg" alt=""></a></div>
                <div class="article-short">LOREM IPSUM
                    <div class="article-short-p">Aenean hendrerit pretium enim quis rutrum. Pellentesque mattis sem a efficitur auctor.</div>
                </div>

            </div>
            <div class="recent-post-mini">
                <div class="mini-pic"><a href=""><img src="./images/download-7.jpg" alt=""></a></div>
                <div class="article-short">LOREM IPSUM
                    <div class="article-short-p">Aenean hendrerit pretium enim quis rutrum. Pellentesque mattis sem a efficitur auctor.</div>
                </div>

            </div>
            <div class="recent-post-mini">
                <div class="mini-pic"><a href=""><img src="./images/download-6.jpg" alt=""></a></div>
                <div class="article-short">LOREM IPSUM
                    <div class="article-short-p">Aenean hendrerit pretium enim quis rutrum. Pellentesque mattis sem a efficitur auctor.</div>
                </div>

            </div>
       </div>
    </div>
    <div class="article-bottom-block">
        <div class="top-line-article"><span class="top-line-text">SERVICES</span></div>
        <div class="article-bottom-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam massa, dignissim at nisi nec, iaculis molestie leo. Aenean hendrerit pretium enim quis rutrum. Pellentesque mattis sem a efficitur auctor. Sed vulputate vitae dui non fermentum. Donec non sem dignissim, tincidunt arcu eget, posuere tellus. Quisque consectetur diam id faucibus sagittis. Praesent placerat, diam non sollicitudin suscipit, eros erat</div>
        <div class="read-more-bottom"><a href="#">Read more...</a></div>
    </div>

</section>
<section class="clients container">
    <div class="top-line-article"><span class="top-line-text">CLIENTS</span></div>
    <div class="clients-logos">
        <img src="./images/download-1.jpg" alt="our client">
        <img src="./images/download-2.jpg" alt="our client">
        <img src="./images/download-3.jpg" alt="our client">
        <img src="./images/download-4.jpg" alt="our client">
        <img src="./images/download-5.jpg" alt="our client">
    </div>
</section>
<footer class="footer">
    <div class="footer-info">Copyright © Lodoss Team 2018
    </div>
</footer>
</body>
</html>
